body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-color: #559aff45;
}

.feedback-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 20px 20px 10px rgba(6, 1, 17, 0.2);
    background-color: #68e3e3;
    
}

h2 {
    text-align: center;
    color: #333;
    border:groove;
    position: static;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0cece;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #393747c5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:green;
}

.response-message {
    margin-top: 20px;
    text-align: center;
    color: #28a745;
}
label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #333;
}